COOKIE_SECRET=
DATABASE_URL="postgresql://postgres.[password]:[project_id]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
JWT_SECRET=
NODE_ENV="production"
MEDUSA_ADMIN_EMAIL="admin@test.com"
MEDUSA_ADMIN_PASSWORD=
RAILWAY_HEALTHCHECK_TIMEOUT_SEC="720"
REDIS_URL="${{Redis.REDIS_PRIVATE_URL}}?family=0"
WORKER_MODE="worker"
SHOULD_DISABLE_ADMIN="true"
RESEND_API_KEY=
RESEND_FROM_EMAIL="onboarding@resend.dev"
